snippet #!
	#!/bin/tcsh
snippet desc
	# --------------------------------------------------------------------------
	# Description:
	#
	#   ${1:Describe something here.}
	#
	# History:
	#
	#   `system("date +%Y-%m-%d")`: [`system("whoami")`]: First creation.
	# --------------------------------------------------------------------------
	
